{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        <table style="width:80%">
		  <tr>
		    <th>ID</th>
		    <th>Card Name</th>
		    <th>Status</th>
		  </tr>
		  {% for item in items %}
		  <tr>
		    <td>{{ item.id }}</td>
		    <td>{{ item.name }}</td>
		    <td>{{ item.status }}</td>
		  </tr>
		  {% endfor %}
</table>
      </ul>
    </div>
  </div>

   <!-- form added for add item -->
    <div class="row">
      <div class="col-md-12">
      <h2>Add Item</h2>
            <form action = "/additem" method = "POST">
	           <p>Card Name <input type = "text" name = "title" /></p>
			   <p>Status <br>
			   <input type = "radio" value="To Do" name = "status" checked/>To Do<br>
			   <input type = "radio" value= "Done" name = "status" />Done<br>
			   <input type = "radio" value= "Doing" name = "status" />Doing<br>
			</p>
	           <p><input type = "submit" value = "Additem" /></p>
      		</form>
      	</div>
      </div>

     <!-- form added for mark complete item -->
          <div class="row">
	        <div class="col-md-12">
	        <h2>Update Item</h2>
	              <form action = "/updateitem" method = "POST">
	  	           <p>Card Name from above list to be updated <input type = "text" name = "ID" /></p>
					 <p>Status <br>
						<input type = "radio" value="To Do" name = "status" checked/>To Do<br>
						<input type = "radio" value= "Done" name = "status" />Done<br>
						<input type = "radio" value= "Doing" name = "status" />Doing<br>
					 </p>
	  	           <p><input type = "submit" value = "Updateitem" /></p>
	        		</form>
	        	</div>
      </div>
{% endblock %}